body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(25,25,35);
    padding-top: 30px;
    /*background-color: white;*/
}


@media only screen and (max-width:768px){

    
}

header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color:whitesmoke;
}

.navbar{
    position:fixed;
    top:0;
    left:0;

    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    text-align: center;
    margin-top:0px;
    
    border-top: 2px solid rgb(40,40,40);
    border-bottom: 2px solid rgb(40,40,40);
    background-color: rgb(35,35,45);
    color:whitesmoke;
}

.navbar li{
    display:inline;
    transition-duration: 100ms;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-right:15px;
}

.navbar li a{
    color:inherit;
    text-decoration: none;
}

.navbar li:hover{
    color:rgb(120,120,120);
}

.profilePic{
    width:200px;
    border-radius:50%;
    box-shadow: 5px 10px 3px teal;
    display:block;
    margin:auto;
}

.bio-container{
    max-width: 40%;
    margin:auto;
}

.bio{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color:whitesmoke;
}

.bio::first-letter{
    font-size:250%;
}



.mainContent{
    margin:auto;
}


@media only screen and (max-width: 600px) {
    .projectImg{
        width: 99% !important;
        padding-right: 0 !important;
        margin-top: 50px !important;
    }

    .imgRow{
        margin-top: 0 !important;
    }
  }


.projectContainer{
    width:70%;
    color:white;
    padding-top:1%;
    height:100%;
    /*text-align: center;*/
}

.projectContainer a{
    text-decoration: none;
}

.projectImg{
    width:49%;
    margin:0px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 3px teal;
    border-radius:4px;
    /*border:1px solid red;*/
}

.imgLeft{
    margin-right:1%;

}

.imgRow{
    display: block;
    width:100%;
    margin-top: 50px;
    /*background-color: aqua;*/
    /*height:100%;*/
}

footer{
    position:absolute;
    z-index: 100;
    bottom:0;
    left:0;
    width: 100%;
    text-align: center;

    background-color: teal;
    color:white;

    font-family: 'Courier New', Courier, monospace;
}

@keyframes fallIn{
    from{margin:15vh -171px;}
    to{margin:15vh calc(50% - 171px);}
}

form{
    border:2px solid rgb(25,25,35);
    background-color: rgb(25,25,35);
    border-radius: 5px;
    box-shadow: 0 0 14px 4px gray;
    color:whitesmoke;

    max-width: fit-content;
    margin: 15vh auto;

    padding:15px;

    animation-name: fallIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.field-group{
    padding-top:20px;
    padding-bottom: 5px;
}

#message{
    margin-top:8px;
    min-width:300px;


    height:200px;
    
    border: 2px solid teal;
    border-radius: 5px;
    
    color:whitesmoke;
    background-color: rgb(20,20,25);

    outline:none;
    transition-duration: 100ms;
}

#message:focus{
    border-color: white;
}

#submitMessage{
    background-color: rgb(20,20,25);
    color:whitesmoke;
    font-size:15px;

    padding: 7px 15px;
    border:2px solid teal;
    border-radius: 5px;
}

input[type="text"], input[type="email"]{
    font-family: inherit;
    background-color: rgb(20,20,25);
    color:whitesmoke;

    border:2px solid teal;
    border-radius: 5px;

    outline: none;

    transition-duration: 200ms;
}

input[type="text"]:focus, input[type="email"]:focus{
    border-color:white;
}
